@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* O asterisco adiciona a definição em toda a página */
*{ 
    font-family: "Roboto", sans-serif /*fonte definida no html*/
}

html,body{
    margin: 0;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(247, 235, 210);
}

.container{
    display: flex;
}

a:visited, a:link, a:active{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.menu_left{
    top: 0;
    position: fixed;
    display: flex;
    box-sizing: border-box; 
    flex-direction: column;
    width: 25vw;
    height: 100vh; /*100% view height*/
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: space-around; /*espaço entre os elementos*/
    background-color: wheat;
    color: black;
    font-size: 1vw;
    z-index: 2;
}

.photo{
    width: 15vw;
}

header{
    margin: 0;
    position: fixed;
    width: 100wh;
    height: 4vh;
    background-color: rgb(56, 137, 190);
    width: 100%;
    z-index: 3;
    margin:0,auto;
}

main{
    position: relative;
    margin-top: 2rem;
    margin-left: 26vw;
    margin-right: 10vw;
    padding-left: 1rem;
    width: 50vw;
}

.projects{
    text-align: left;
    justify-content: space-around;
}

.img_projects{
    display: flex;
    margin-left: 5vw;
    width: 50vw;
}

.row_images{
    display: flex;
    margin-left: 10rem;
}

.collumn_images{
    flex: 50%;
}

.top, .bottom{
    display: flex;
    flex-direction: column;
}